<div class=" content">
    <div class=" row">


        <div class=" col-md-12">
            <!--nueva categoria-->
            <div class="card">
                <div class="card-body">
                    <form action="">
                        <div class=" typography-line">
                            <h1>Nuevo patrocinador:</h1>
                            <div class="container">

                                <div class="row">

                                    <div class=" col-md-6 pr-md-1">
                                        <div class=" form-group">
                                            <label> Nombre patrocinador</label>
                                            <input class="form-control" type="text" />
                                        </div>
                                    </div>

                                    <div class=" col-md-6 pr-md-1">

                                    </div>

                                </div>
                                <div class="row">
                                    <div class=" col-md-4"><button class=" btn btn-primary btn-block"><i
                                                class=" tim-icons icon-cloud-upload-94"> </i> Guardar</button></div>
                                    <div class=" col-md-4"></div>
                                    <div class=" col-md-4"></div>
                                </div>
                            </div>
                            <hr>

                        </div>
                    </form>
                </div>
            </div>
            <!--termina nueva categoria-->
            <div class=" card card-plain">
                <div class=" card-header">

                </div>
                <div class=" card-body">
                    <div class=" table-responsive-md">
                        <table class=" table tablesorter table-hover" id="">
                            <thead class=" text-primary table-dark">
                                <tr>
                                    <th>Patrocinador</th>

                                    <th>Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PEPSI</td>

                                    <td>
                                        <button class=" btn btn-danger"><i class=" tim-icons icon-trash-simple">
                                            </i></button>&nbsp;&nbsp;
                                        <button class=" btn btn-info"><i class=" tim-icons icon-pencil"> </i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>