
    <div class="container vertical-center">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <form>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class=" form-group">
                    <label> Username </label>
                    <input class=" form-control" placeholder="Username" type="text"  />
                  </div>

                  <div class=" form-group">
                    <label> Password </label>
                    <input class=" form-control" type="password" placeholder="Password" autocomplete="current-password"/>
                  </div>


                  <div class="row">
                    <div class="col-6"><button type="button" class="btn btn-primary px-4">Login</button></div>
                    <div class="col-6 text-right"><button type="button" class="btn btn-link px-0">Forgot
                        password?</button></div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
