
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.margin0{
  margin: 0!important;
}

.overhand{
  cursor: pointer;
}

.input100{
  width: 100%;
}

/*tamaño iconos info*/
.infoIcons{
  font-size: medium;
}