<div class=" content">
    <div class=" row">


        <div class=" col-md-12">
            <!--nueva categoria-->
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="registroForm" (ngSubmit)="registroEntidad()">
                        <div class=" typography-line">
                            <h1>Nuevo cliente:</h1>
                            <div class="container">

                                <div class="row">

                                    <div class=" col-md-6 pr-md-1">
                                        <div class=" form-group">
                                            <label> Nombre cliete</label>
                                            <input type="text" class="form-control" placeholder="entidad" name="nombre" formControlName="nombre"
                                                [class.is-invalid]="registroForm.get('nombre').invalid && registroForm.get('nombre').touched "
                                                [class.is-valid]="registroForm.get('nombre').valid && registroForm.get('nombre').touched">
                                            <span class="text-danger"
                                                *ngIf="isSubmitReg && (errorControl.nombre.errors?.required || errorControl.nombre.errors?.pattern || errorControl.nombre.errors?.minLength)">
                                                Este campo es requerido y solo se aceptan letras, números y mínimo de caracteres (3).
                                            </span>
                                        </div>
                                    </div>

                                    <div class=" col-md-6 pr-md-1">
                                        
                                    </div>

                                </div>
                                <div class="row">
                                    <div class=" col-md-4"><button type="submit" class=" btn btn-primary btn-block"><i
                                                class=" tim-icons icon-cloud-upload-94"> </i> Guardar</button></div>
                                    <div class=" col-md-4"></div>
                                    <div class=" col-md-4"></div>
                                </div>
                            </div>
                            <hr>

                        </div>
                    </form>
                </div>
            </div>
            <!--termina nueva categoria-->
            <div class=" card card-plain">
                <div class=" card-header">

                </div>
                <div class=" card-body">
                    <div class=" table-responsive-md">
                        <table class=" table tablesorter table-hover" id="">
                            <thead class=" text-primary table-dark text-center">
                                <tr>
                                    <th>Cliente</th>
                                 
                                    <th>Editar</th>
                                    <th>Eliminar</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let entidad of this.listaRegistrosFiltro">
                                    <td>{{ entidad.cNombre }}</td>
                                    
                                    <td  class="text-center">
                                        <button class=" btn btn-info" (click)="popActualiza( entidad.nId )"><i class=" tim-icons icon-pencil"> </i></button>                                            
                                    </td>
                                    <td  class="text-center">
                                        <button class=" btn btn-danger" (click)="popElimina( entidad.nId )" ><i class=" tim-icons icon-trash-simple"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>