
<div class=" content">
    <form action="">

        <!--Banners-->
        <div class=" row">
            <div class=" col-md-12">
                <h1>Felicidades:</h1>
                <div class=" card">
                    <div class="card-body">

                        <div class=" typography-line">
                            <h3 class="text-light">Felicidades esta a un paso de terminar:
                                <span class="fa fa-info-circle infoIcons" data-bs-toggle="tooltip" data-bs-html="true"
                                    data-bs-placement="top"
                                    title="Selecciona el tipo o tipo de mecanicas para la participacion"></span>
                            </h3>
                        </div>
                        <div class="container">
                            <div class=" row"><label class=" col-sm-2 col-form-label"> Selecciona el estatus de tu promocion </label>
                                <div class=" col-sm-10 checkbox-radios">
                                    <div class=" form-check form-check-radio">
                                        <label class=" form-check-label"><input checked="checked" class=" form-check-input" id="exampleRadios1"
                                                name="exampleRadios" type="radio" value="option1"><span class=" form-check-sign"></span> Se publica segun la vigencia
                                        </label>
                                    </div>
                                    <div class=" form-check form-check-radio">
                                        <label class=" form-check-label"><input class=" form-check-input" id="exampleRadios2" name="exampleRadios"
                                                type="radio" value="option2"><span class=" form-check-sign"></span> Activar ahora mismo la promicion </label>
                                    </div>
                                    <div class=" form-check form-check-radio">
                                        <label class=" form-check-label"><input class=" form-check-input" id="exampleRadios2" name="exampleRadios"
                                                type="radio" value="option2"><span class=" form-check-sign"></span> Es un borrador </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--Fin Crad body-->
                </div>
                <!--Fin Crad-->





            </div>
            <!--Fin col-12-->
        </div>
        <!--Fin row-->
        <!--Fin Banners-->












        <div class="container">
            <div class="row">
                <div class="col-8"></div>
                <div class="col-4">
                    <button class=" btn btn-danger btn-block" (click)="irInicio()">
                        Terminar
                    </button>
                </div>
            </div>
        </div>


    </form>
</div>
